
<form action= "/chairs" method="post">
  <p>Style: <input type="text" name="style"></p>
  <p>Weight: <input type="text" name="weight"></p>
  <p>Color <input type="text" name="color"></p>
  <p>Legs <input type="text" name="legs"></p>
  <p>Image: <input type="text" name="image"></p>
  <input type="submit" value="Make a new chair">
</form>